* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

li,
.link {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  background-color: #0077b6;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  width: 100%;
  height: 70px;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 20px;
  color: #ffffff;
}

.navlinks li a {
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

.navlinks li a:hover {
  color: greenyellow;
  font-size: larger;
}

.disconnect {
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

.disconnect:hover {
  color: black;
  background-color: red;
  padding: 10px;
  border-radius: 20px;
}

.logo {
  color: #edf0f1;
  text-shadow: #474747 3px 5px 2px;
  font-weight: bold;
  letter-spacing: 2px;
}

.logged {
  color: #edf0f1;
  font-weight: bold;
  font-style: italic;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #0077b6;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

footer p {
  color: #edf0f1;
  padding: 12px;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(#206081, #2a274b, #1c5a72);
}
