html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#050505,#221F3B, #050505) ;
  transition:  300ms;
  color: #F1D4E5;
}
  .navi{
    border-bottom: 2px solid #195163;
    border-left: 1px solid #37768b;
    border-right: 1px solid #37768b;
    outline: none;
    background-color: #19506356;
    padding: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #F1D4E5;

  }